.mobile {
  /* display: initial; */
}
.desktop {
  display: none;
}
.header {
  position: relative;
  list-style-type: none;
}
.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem 0;
  padding-bottom: 0;
}
.header__top--socials {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__top--socials li {
  padding: 0 10px;
}

.header__top--socials li:first-of-type {
  padding-left: 0;
}
.header__top--socials li:last-of-type {
  padding-right: 0;
}
.header__nav {
  background-color: #0e1014;
  position: sticky;
  z-index: 999;
  top: 0;
}
.header__menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #e4e5ea;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 0.75rem;
  text-transform: uppercase;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.header__menu li {
  padding: 1.25rem 0.5rem;
}
.header__menu li:first-of-type {
  padding-left: 0;
}
.header__menu li:last-of-type {
  padding-right: 0;
}

@media (min-width: 48rem) {
  .mobile {
    display: none;
  }
  .desktop {
    display: initial;
  }
  .desktop-header {
  }
  .desktop-header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    color: #e4e5ea;
  }
  .desktop-header__logo {
    max-width: 140px;
  }
  .desktop-header__logo p {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 0.625rem;
    margin-top: 10px;
  }
  .desktop-header__menu ul {
    display: flex;
    align-items: center;
  }
  .desktop-header__menu ul li:not(:first-child) {
    margin-left: 30px;
  }
  .desktop-header__contact ul {
    display: flex;
    align-items: center;
  }
  .desktop-header__contact > ul li:not(:first-child) {
    margin-left: 47px;
  }
}
